{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  
  "rules": {
    "indent": [1, 2, {"SwitchCase": 1}],
    "quotes": [1, "single"],
    "linebreak-style": [2, "unix"],
    "semi": [2, "always"],
    "no-unused-vars": 1,
    "eqeqeq": 1,
    "no-empty": 1
  },

  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "phantomjs": true,
    "jasmine": true
  },

  "globals": {},

  "extends": "eslint:recommended"
}